<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本の一覧</title>
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath() %>/css/style.css">
</head>
<body>
　　<div>
		<h3>書籍一覧表示</h3>
	</div>
   <table class="table" th:each="book:${BookList}">
        <tr>
           <td th:text="${book.book_id}"></td><td>,</td>
           <td th:text="${book.book_name}"></td><td>,</td>
           <td th:text="${book.genre}"></td><td>,</td>
           <td th:text="${book.stock}"></td><td>,</td>
           <td th:text="${book.rent}"></td>
        </tr>
     </table>
</body>
</html>