<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>本の一覧</title>
</head>
<body>
　　<div>
		<h3>BookList</h3>
	</div>
     <table th:text="table" th:each="user:{UserList}">
        <tr>
           <th th:text="${book.book_id}"></th>
           <th th:text="${book.book_name}"></th>
           <th th:text="${book.genre}"></th>
           <th th:text="${book.stock}"></th>
           <th th:text="${book.rent}"></th>
        </tr>
     </table>
</body>
</html>