<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ホーム画面</title>
	<link rel="stylesheet" type="text/css" href="<%=request.getContextPath() %>/css/style.css">
</head>

<body>
	<div>
		<div class="home">
			<h3>ELBook</h3>
			<ul>
				<li><a class="home-mypage" th:href="@{mypage}">マイページ</a></li>
				<li><a class="home-userinfo" th:href="@{userinfo}">社員一覧</a></li>
				<li><a class="home-booklist" th:href="@{bookinfo}">書籍一覧</a></li>
				<li><a class="home-logout" th:href="@{login}">ログアウト</a></li>
			</ul>
			<input class="login-name" type="text" placeholder="書籍ID/書籍名"><br>
			<a class="home-select" th:href="@{usercreate}">検索</a>
		</div><br>



		<ul class="book-mune">

			<li class="item">
				<a>IT技術</a>
			</li>

			<li class="item">
				<a>スポーツ</a>
			</li>

			<li class="item">
				<a>エンタメ</a>
			</li>

			<li class="item">
				<a>教養</a>
			</li>

			<li class="item">
				<a>メンタル</a>
			</li>

			<li class="item">
				<a>パズル</a>
			</li>

		</ul><br><br>



	</div>
</body>

</html>