<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報編集</title>
<link rel="stylesheet" type="text/css" href="<%=request.getContextPath() %>/css/style.css">
</head>
<body>

　　<div id="hensyu-home" class="bbb-edit">

      <h4 class ="idooo">社員編集画面</h4>
    <form th:action="@{/useredit}" class="user-edit" th:method="post">
        <div><input th:value="${user_edit.user_id}" class="edit-newid" type="hidden" name="user_id" id="user_edit"></div><br>
        <div>
          <input class="edit-newname" type="text" name="user_name" id="user_name" placeholder="NewName"><br>
          <input class="edit-newpass" type="text" name="pass" id="pass" placeholder="NewPassword"><br><br>
        </div>
          <button type="submit" class="bottom-ccc">変更</button>
    </form>
  </div>

</body>
</html>