<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>
</head>
<body>
	<div>
		<h3>Operation</h3>
	</div>
	<div>
		<p>社員一覧</p>

		<table class="table" th:each="user:${UserList}">
			<tr>
				<th th:text="${user.user_id}"></th>
				<th th:text="${user.user_name}"></th>
				<th>
				<!-- 編集ボタン-->
					<form th:action="@{/edit}" method="post">
						<input type="submit" class="btn-edit" name="edit" value="編集">
						<input type="hidden" name="id" th:value="${user_id}">
					</form>
				</th>
				<!-- 削除ボタン-->
				<th>
					<form th:action="@{/delete}" method="post">
						<input type="submit" class="btn-delete" name="delete" value="削除">
						<input type="hidden" name="id" th:value="${user.user_id}">
					</form>
				</th>
			</tr>
		</table>
	</div>
</body>
</html>