<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理者画面</title>
</head>
  <body>
	<div>
		<h3>Operation</h3>
	</div>
	<div>
		<p>社員一覧</p>           <!--modelAttributeでJAVAとマッピング-->
      <table class="table" th:each="user:${UserFolder}" >
          <!--　th:eachはくり返し表示　-->
			<tr>
				<th th:text="${user.user_id}"></th>
				<th th:text="${user.user_name}"></th>
				  <th>

			    <!-- 編集ボタン-->
					 <a th:href="@{/useredit/{user_id}(user_id=*{user.user_id})}">編集</a>
				  </th>
				<!-- 削除ボタン-->
				  <th>
					<form th:action="@{/delete}" th:object="${user_delete}"  method="post">
						<input type="submit"   class="btn-delete" name="delete" value="削除">
						<input type="hidden" name="user_id" th:value="${user.user_id}">
					</form>
				  </th>
			 </tr>
		 </table>
	  </div>
   </body>
</html>